.container {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    min-width: 400px;
    max-width: 1000px;
    background-color: #aaa;
    border-radius: 10px;
}
header {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #755;
    border-radius: 10px;
    color: black;
    margin: 0 auto;
    padding: 20px;
    min-width: 400px;
    max-width: 1000px;
    background-color: #aaa;
}

header h1 {
    font-size: 2em;
    text-align: center;
}

header h2 {
    font-size: 1.3em;
    text-align: center;
}

header p {
    margin: 20px;
}
