body {
    color: black;
    font-size: 20px;
}
.container {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    min-width: 320px;
    max-width: 1200px;
    background-color: #aaa;
    border-radius: 10px;
    /*height: 100vh;*/
}
header {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #755;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
    min-width: 320px;
    max-width: 1200px;
    background-color: #aaa;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
    text-shadow: 0 2px 8px burlywood;
    margin-bottom: 10px;
}

header h2 {
    font-size: 1.3em;
    text-align: center;
    text-shadow: 0 0 10px blanchedalmond;
}

header p {
    margin: 20px;
}

.container a {
    display: flex;
    flex: 1 1 200px;
    text-decoration: none;
    color: black;
    align-content: stretch;
    background-color: #333;
    margin: 2px;
    border-radius: 5px;
}

.card {
    flex: 1 1 200px;
    background-color: aquamarine;
    min-height: 30px;
    margin: 5px;
    padding: 10px;
    border: 1px solid aqua;
    border-radius: 5px;
    box-shadow: 1px 1px 5px aquamarine;
    align-content: stretch;
}

.card h1 {
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    padding-bottom: 10px;
}
