body {
    color: black;
    font-size: 20px;
}

button {
    flex: 1;
    position: fixed;
    align-self: flex-start;
    height: 30px;
    background-color: #c9510c;
    text-shadow: 0 0 5px #6cc644;
    margin-left: 10px;
    margin-top: 5px;
    width: 100px;
    border-radius: 10px;
}
button a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    height: 150px;
    background-color: #4078c0;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
}
header h1 {
    flex: 1;
    font-size: 2em;
    letter-spacing: 1px;
    /*line-height: 150px;*/
    padding: 20px;
    text-shadow: 0 0 5px #6cc644;
}

header img {
    flex: 0 0 100px;
    margin: 25px;
    /*line-height: 150px;*/
    border-radius: 50px;
    -webkit-filter: opacity(65%);
    filter: opacity(65%);
}

.container {
    width: 100%;
    background-color: #6e5494;
    display: flex;
    flex-flow: row wrap;
    min-width: 320px;
    margin: 0 auto;

}
p {
    flex: 1;
    padding: 20px;
    min-width: 200px;
    border: 1px solid #bd2c00;
    text-shadow: 0 0 1px #6cc644;
    font-size: 1.2em;
}
.card {
    flex:1 0 320px;
    border: 1px solid #bd2c00;
    padding: 20px;
    text-shadow: 0 0 1px #6cc644;
    /*text-shadow: 0 0 1px #c9510c;*/
    font-size: 1.2em;
}
.card h2 {
    font-weight: 500;
    font-size: 1.5em;
}
.card ol {
    list-style-type: decimal;
    padding: 20px;
}
.card ul {
    list-style-type: square;
    padding: 20px;
}
.card li {
    line-height: 115%;
}

strong {
    font-weight: 700;
}

code {
    font-family: sans;
    font-size: 1.05em;
    background-color: white;
    color: #6e5494;
    font-weight: 600;
    padding: 0 5px;
}

em {
    font-style: italic;
}

@media screen and (min-width: 537px) {

    header {
        width: 90%;
    }

    .container {
        width: 90%;
    }

    .card {
        flex-basis: 450px;
    }
}
